<div class="container-fluid" style="background-color: #E9E9E9; padding: 3vw;">
          
           <div class="row d-flex flex-column justify-content-center align-items-center">
              <!--fieldset ended-->
               <div class="col-9">
                      <div class="row" style="display: flex;justify-content: center;">
                          <div class="col-1"> <hr/> </div>
                            <div class="col-5">
                               <fieldset class="scheduler-border">
                                  <legend align="center" class="scheduler-border">SPECIAL OFFERS</legend>
                                    <div class="control-group">
                                        <div class="controls">
                                          <h1>NEW ARRIVALS</h1>
                                          <p>Loram ipsum dollar amet,consectetuer adipiscing</p>
                                        </div>
                                   </div>
                               </fieldset>
                            </div>
                          <div class="col-1"> <hr/> </div>
                      </div>   
               </div>
               <!--fielsset ended-->
            

               <!--new arrival table-->
               <div class="col-9" style="margin: 3vw;">
                   <div class="row">
                      <!--new arrival left table-->
                      <div class="col-6">
                         <!--1st row-->
                         <div class="row">
                            <div class="col-12 sword-discount" >
                                  <img src="assets/images/bitmap1.png" alt="bitmap1.png" class="img-fluid bitmap">
                                  <div class="centered">
                                      <h4>FOR  ALL TOP SWORDS</h4>
                                      <h1>DISCOUNT 50%</h1>
                                      <button>SHOP NOW</button>
                                  </div>
                            </div>
                          </div>
                        <!--2nd row-->
                        <div class="row">
                            <div class="col-6 box">
                               <img src="assets/images/arrow3.png" alt="images/arrow3.png" class="img-fluid arrow" >
                               
                              <div class="middle">
                                <div class="icon">
                                   <i class="fa fa-heart-o" aria-hidden="true"></i>
                                   <i (click)="adduser('CLASSIC GOLG SWORD',99)" class="fa fa-shopping-bag" aria-hidden="true"></i>
                                   <i  routerLink="/productdetailspage" class="fa fa-eye" aria-hidden="true"></i>
                                 </div>
                              </div>
                               
                               <div class="sword-details">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star"></span>
                               <span class="fa fa-star"></span>
                               <h3 class="product-name"> CLASSIC GOLG SWORD</h3>
                               <p>PRICE:$99</p>
                               </div>                       
                            </div>
                            <div class="col-6 box">
                               <img src="assets/images/arrow4.png" alt="images/arrow3.png" class="img-fluid arrow">
                               
                                <div class="middle">
                                  <div class="icon">
                                   <i class="fa fa-heart-o" aria-hidden="true"></i>
                                   <i (click)="adduser('CLASSIC GOLG SWORD',99)" class="fa fa-shopping-bag" aria-hidden="true"></i>
                                   <i  routerLink="/productdetailspage" class="fa fa-eye" aria-hidden="true"></i>
                                 </div>
                              </div>

                               <div class="sword-details">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star"></span>
                               <span class="fa fa-star"></span>
                               <h3> CLASSIC GOLG SWORD</h3>
                               <p>PRICE:$99</p>
                               </div>
                            </div>
                         </div>
                        </div>
                      <!--new arrival right table-->
                      <div class="col-6">
                        <!--1st row-->
                        <div class="row">
                            <div class="col-6 box .sword-details">
                               <img   src="assets/images/arrow3.png" alt="images/arrow3.png" class="img-fluid arrow">
                               
                              <div class="middle">
                                 <div class="icon">
                                   <i class="fa fa-heart-o" aria-hidden="true"></i>
                                   <i (click)="adduser('CLASSIC GOLG SWORD',99)" class="fa fa-shopping-bag" aria-hidden="true"></i>
                                   <i  routerLink="/productdetailspage" class="fa fa-eye" aria-hidden="true"></i>
                                 </div>
                              </div>
                               
                               <div class="sword-details">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star"></span>
                               <span class="fa fa-star"></span>
                               <h3> CLASSIC GOLG SWORD</h3>
                               <p>PRICE:$99</p>
                               </div>
                            </div>
                            <div class="col-6 box">
                               <img src="assets/images/arrow4.png" alt="images/arrow3.png" class="img-fluid arrow">
                               
                               <div class="middle">
                                 <div class="icon">
                                   <i class="fa fa-heart-o" aria-hidden="true"></i>
                                   <i (click)="adduser('CLASSIC GOLG SWORD',99)" class="fa fa-shopping-bag" aria-hidden="true"></i>
                                   <i  routerLink="/productdetailspage" class="fa fa-eye" aria-hidden="true"></i>
                                 </div>
                              </div>

                               <div class="sword-details">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star"></span>
                               <span class="fa fa-star"></span>
                               <h3> CLASSIC GOLG SWORD</h3>
                               <p>PRICE:$99</p>
                               </div>
                            </div>
                         </div>
                         <!--2nd row-->
                         <div class="row">
                            <div class="col-12 sword-discount" >
                                  <img src="assets/images/bitmap2.png" alt="bitmap1.png" class="img-fluid bitmap" >
                                   <div class="centered">
                                      <h4>FOR  ALL TOP SWORDS</h4>
                                      <h1>DISCOUNT 50%</h1>
                                      <button>SHOP NOW</button>
                                  </div>
                            </div>
                          </div>
                        
                      </div>
                   </div>
               </div>
           </div>        
       </div>