<div class="container-fluid">
    <div class="row d-flex justify-content-center" style="padding: 2.3vw;">
      <div class="col-2 col-sm-2 col-md-2 col-lg-2 .col-xl-2">
        <img src="assets/images/div1.png" alt="div.png" style="width: 100%;height: 100%">
      </div>
      <div class="col-2 col-sm-2 col-md-2 col-lg-2 .col-xl-2">
        <img src="assets/images/div2.png" alt="div.png" style="width: 100%;height: 100%">
      </div>
      <div class="col-2 col-sm-2 col-md-2 col-lg-2 .col-xl-2">
        <img src="assets/images/div3.png" alt="div.png" style="width: 100%;height: 100%">
      </div>
      <div class="col-2 col-sm-2 col-md-2 col-lg-2 .col-xl-2">
        <img src="assets/images/div4.png" alt="div.png" style="width: 100%;height: 100%">
      </div>
      <div class="col-2 col-sm-2 col-md-2 col-lg-2 .col-xl-2">
        <img src="assets/images/div5.png" alt="div.png" style="width: 100%;height: 100%">
      </div>
    </div>
  </div>
  