<section>
           <div class="container form-container " style="padding: 5vw">
              <div class="row checkout-form d-flex flex-column justify-content-center align-items-center">
                   
                   <form>
                        <div class="row heading">
                            <h1 >BILLING ADDRESS</h1>
                        </div>
                        <div class="line">
                            <span class="color-1"></span>
                            <span class="color-2"></span>
                         </div>
                         <div class="row d-flex">

                            <div class="col-lg-6">
                      
                            <div class="d-flex">
                                <div class="form-group col-md-6 col-lg-6">
                                    <label for="f-name">FIRST NAME</label>
                                    <input type="text" class="form-control"  id="f-name">
                                </div>
                                <div class="form-group col-md-6 col-lg-6">
                                    <label for="l-name">LAST NAME</label>
                                     <input type="text" class="form-control"  id="l-name">
                                </div>
                             </div>
                            
                            <div class="form-group col-md-12 col-lg-12">
                                <label for="c-name">COMPANY NAME</label>
                                <input type="text" class="form-control"  id="c-name">
                            </div>
                            
                            <div class="d-flex">
                                <div class="form-group col-md-6 col-lg-6">
                                    <label for="email-address">EMAIL ADDRESS</label>
                                    <input type="text" class="form-control"  id="email-address">
                                </div>
                                <div class="form-group col-md-6 col-lg-6">
                                    <label for="phone-number">PHONE NUMBER</label>
                                    <input type="text" class="form-control"  id="phone-number">
                                 </div>  
                            </div>

                            <div class="form-group col-md-12 col-lg-12">
                                <label for="country">COUNTRY</label>
                                <input type="text" class="form-control" placeholder="United Kingdom" id="country">
                            </div>

                            <div class="form-group col-md-12 col-lg-12">
                                <label for="address appartment">ADDRESS</label>
                                <input type="text" class="form-control" placeholder="Street Address"  id="address">
                                <br>
                                <input type="text" class="form-control" placeholder="Appartment" id="appartment">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group col-md-12 col-lg-12">
                                <label for="order-note">ORDER NOTE</label>
                                <input type="text" class="form-control"  id="order-note">
                            </div>  
                            <div class="col-3">
                              <!-- Default unchecked -->
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                  <label class="custom-control-label" for="defaultUnchecked">CREATE ACCOUNT</label>
                               </div>     
                           </div> 
                        </div>

                      
                         </div>


                           <div class="row d-flex">
                           <div class="col-lg-6 d-flex">
                                <div class="form-group col-md-6 col-lg-6">
                                    <label for="post-code">POST CODE/ZIP</label>
                                    <input type="text" class="form-control"  id="post-code">
                                </div>
                                <div class="form-group col-md-6 col-lg-6">
                                    <label for="town">TOWN/CITY</label>
                                    <input type="text" class="form-control"  id="town">
                                 </div>
                            </div>
                            <div class="col-lg-6 align-self-center d-flex justify-content-end">
                              <div class="col-4">
                                <button>PROCEED TO PAYMENT</button>
                              </div>
                            </div>
                        </div>
                   </form>       
              </div>
           </div>
       </section>
