<div class="container-fluid">
   <div class="row justify-content-center align-self-center">
   
   
     <div class="container d-flex flex-column justify-content-center align-items-left" style="background-color: #E9E9E9;">
        <h1>SHOPPING CART</h1>
        
        <!--cart heading-->
        <div class="row d-flex justify-content-around align-items-left mt-3">
          
          <div class="col-sm-1 col-lg-1 justify-content-center align-self-center" style="border: 2px solid red;">
            
          </div>
        
          <div class="col-sm-12 col-lg-4 justify-content-center align-self-center" style="border: 2px solid red;">
            <h6 class="product-heading">PRODUCT NAME</h6>
          </div>
        
          <div class="col-sm-12 col-lg-1 justify-content-center align-self-center" style="border: 2px solid red;">
            <p class="product-heading">UNIT PRICE</p>
          </div>
        
          <div class="col-sm-12 col-lg-4 justify-content-center align-self-center" style="border: 2px solid red">
            <p class="product-heading">QUANTITY</p>
          </div>

         <div class="col-sm-12 col-lg-1 justify-content-center align-self-center" style="border: 2px solid red;"> 
            <p class="product-heading">SUBTOTAL</p>
         </div>
       </div>
        
        
       <!--cart items--> 
        <div class="row d-flex justify-content-around align-items-left mt-3">
          
          <div class="col-sm-1 col-lg-1 justify-content-center align-self-center" style="border: 2px solid red;">
            <img src="assets/images/productgallery.png" class="img-fluid cart-img"/>
          </div>
        
          <div class="col-sm-12 col-lg-4 justify-content-center align-self-center" style="border: 2px solid red;">
            <h6 class="product-detail">Anduril Sword & Elven Knife of Strider</h6>
          </div>
        
          <div class="col-sm-12 col-lg-1 justify-content-center align-self-center" style="border: 2px solid red;">
            <p class="product-detail">$105.00</p>
          </div>
        
          <div class="col-sm-12 col-lg-4 justify-content-center align-self-center" style="border: 2px solid red">
            <div id="spinner-input" >
               <div style="display: flex;">
                  <input type="text" id="num" value="1">
                  <div class="minus cursor_hover">&#45;</div>
                  <div class="plus cursor_hover">&#43;</div>
                </div>
            </div>
          </div>

         <div class="col-sm-12 col-lg-1 justify-content-center align-self-center" style="border: 2px solid red;"> 
            <p class="product-detail">$105.00</p>
         </div>
      </div>
    </div>
 

</div>
</div>