<div class="container-fluid ">
 
 <div class="row services-layout d-flex justify-content-center align-items-center">
    
    <!--first column(free shipping)-->
              <div class="layout" >
                    <div class="row">
                       <div class="col-3">
                           <img src="assets/images/free-shipping.png" class="img-fluid">
                       </div>
                       <div class="col-7" style="margin-left: 1.3vw;">
                            <h2>FREE SHIPPING</h2>
                            <p>Free shipping over $100</p>
                       </div>
                    </div>
              </div>
     <!--second column(money back guarantee)-->
              <div class="layout" id="yellowdiv" >
                   <div class="row " >
                       <div class="col-3">
                          <img src="assets/images/M_B_Garantee.png" class="img-fluid">
                       </div>
                       <div class="col-7" style="margin-left: 1.3vw;">
                           <h2>MONEY BACK GURNTE</h2>
                           <p>Send to you within 24 hours</p>
                       </div>
                    </div>
              </div>
              <!--third column(24 hrs support)-->
              <div class="layout" >
                    <div class="row">
                       <div class="col-3">
                           <img src="assets/images/support.png" class="img-fluid">
                       </div>
                       <div class="col-7" style="margin-left: 1.3vw;">
                           <h2>24 HOURS SUPPORT</h2>
                           <p>Call :100 900 12345</p>
                       </div>
                    </div>
              </div>

 </div>
  
</div>


